/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500;1,600&family=Oswald:wght@500;700&family=Oxygen:wght@700&family=Playfair+Display:wght@700&family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*Header &  navigation section --------------*/

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

header {
    height: 100vh;
    background-image: url(../images/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: overlay;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 20px;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 15px 10px;
}